@import 'part/var.css';

body {
    background-color: var(--background);
    color: var(--text);
}
h5 {
    font-size: 16px !important;
    margin: 0;
}
h6 {
    font-size: 13px !important;
    margin: 0;
}
a {
    color: var(--text);
    text-decoration: none;
}
.text-violet {
    color: var(--violet);
}
.mt-container {
    margin-top: 100px;
}


@media (max-width: 992px) {
    h3 {
        font-size: 18px !important;
    }
    h5 {
        font-size: 13px !important;
    }
}