@import "part/var.css";


/* header */
.wrap-header {
    position: relative;
    text-align: center;
    padding-block: 30px;
    box-sizing: border-box;
}
.wrap-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--text);
    /* background-image: linear-gradient(180deg, var(--background), var(--text) 45%, var(--background)); */
    opacity: 0.1;
    border-radius: 8px;
    z-index: -1;
}


/* product --scroll-card */
.scroll-card {
    height: 90vh;
    overflow: scroll;
    /* border: 2px solid red; */
}
.scroll-card::-webkit-scrollbar {
    display: none;
}


/* product --filter */
.search {
    display: flex;
    align-items: center;
    gap: 8px;
}
.search input {
    padding: 7px 7px 7px 30px;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 6px;
    transition: all 0.5s;
    background-color: var(--card);
    background-image: url("../icon/search.png");
    background-size: 15px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    color: var(--text) !important;
}
.search input:focus {
    border: none !important;
}


/* product --card */
.wrap-product .card {
    border: none;
    border-radius: 8px;
    /* min-width: 250px; */
    box-shadow: 2px 2px 4px -1px rgb(48, 194, 253, 0.5);
}
.wrap-product .product-img {
    height: 75%;
    width: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}
.product-item .card {
    height: 280px;
    width: 280px !important;
}
.hide {
    display: none !important;
}

@media (max-width: 768px) {
    .wrap-product .card {
        height: 200px;
    }
}
