body {
    font-family: 'poppins', sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.text-item {
    position: absolute;
    transition: 2s ease;
    transform:  translateY(50px);
    opacity: 0;
    color: var(--first-color);
    text-align: center;
}

.animation-start {
    opacity: 1;
    transform:  translate(0px);
    transition: 2s ease;
}