:root {
    --background: #f5f9fc;
    --card: #ffffff;
    --card-hover: #f7f7f7;
    --text: #1e1e1e;
    --violet: #9747ff;
    --violet-hover: #7822e9;
    --aqua: rgb(48, 194, 253);
    --aqua-opacity: #C4EBFC;
}
